/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}


/*-------------------------------------------------------------*/
/* FONTS  */

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,400italic);

/*-------------------------------------------------------------*/
/* GLOBAL DEFAULTS */

* { 
  margin:0; padding: 0;
}

article, aside, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body{ 
  margin: 0; 
  padding: 0; 
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, 
cite, code, img, small, strike, strong, em, sub, sup, tt, dd, dl, dt, 
li, ol, ul, fieldset, form, label, legend, button, table, caption, 
tbody, tfoot, thead, tr, th, td, section, div, input{ 
  margin: 0; 
  padding: 0; 
  border: 0; 
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-size: 100%; 
  line-height: 1;
  text-align: inherit;
  font-weight: 300;
}


/*-------------------------------------------------------------*/
/* DOC SPECIFIC */

.view-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

.wrapper{
  width: 600px;
  height: 750px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -375px;
}

.wrapper #display{
  width: 580px;
  height: 148px;
  background-color: #333;
  margin-bottom: 2px;
  text-align: right;
  font-size: 60px;
  color: white;
  line-height: 148px;
  padding: 0px 10px;
}

.wrapper .button {
  width: 148px;
  height: 148px;
  background-color: #f0f0f0;
  margin: 1px;
  float: left;
  line-height: 148px;
  text-align: center;
  font-size: 32px;
  position: relative;
  cursor: pointer;
}

.wrapper .button:active{
  top: 1px;
  background-color: #e8e8e8;
}

.wrapper .long{
  width: 298px;
}


.grid-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.calibrating {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /*text-align: center;*/
}

.message {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -54px;
  font-size: 108px;
  color: #FFFFFF;
}

.grid-wrapper .square {
  position: relative;
  display: inline-block;
  height: 100px;
  width: 100px;
  text-align: center;
  /*border: 1px solid black;*/
}

.grid-wrapper.calculator {
  top: 155px;
  left: 288px;
}

.grid-wrapper.calculator .square {
  height: 75px;
  width: 75px;
}

.grid-wrapper .circle {
  position: absolute;
  background-color: #aaa;
  height: 0px;
  width: 0px;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}

.cursor-tapped {
  font-style: 64px;
  margin: 20px;
}
