<div class="wrapper">
  <div id="display">{{display}}</div>
  <!-- FYI the order of the buttons on the image of the calculator on blackboard is unintuitive. I decided to put the plus button on the bottom. -->
  <div class="button" ng-click="numClick('7')">
    7
  </div>
  <div class="button" ng-click="numClick('8')">
    8
  </div>
  <div class="button" ng-click="numClick('9')">
    9
  </div>
  <div class="button" ng-click="opClick('/')">
    &divide;
  </div>
  <div class="button" ng-click="numClick('4')">
    4
  </div>
  <div class="button" ng-click="numClick('5')">
    5
  </div>
  <div class="button" ng-click="numClick('6')">
    6
  </div>
  <div class="button" ng-click="opClick('*')">
    &times;
  </div>
  <div class="button" ng-click="numClick('1')">
    1
  </div>
  <div class="button" ng-click="numClick('2')">
    2
  </div>
  <div class="button" ng-click="numClick('3')">
    3
  </div>
  <div class="button" ng-click="opClick('-')">
    -
  </div>
  <div class="button long" ng-click="numClick('0')">
    0
  </div>
  <div class="button" ng-click="opClick('=')">
    =
  </div>
  <div class="button" ng-click="opClick('+')">
    +
  </div>
</div>

<div class="grid-wrapper calculator">
  <div ng-style="fingerTipStyle" class="circle finger-tip calculator" id="jam" ng-click="crap($event)">
  </div>
<!--   <div ng-repeat="row in grid">
    <div ng-repeat="col in row" id="{{col.id}}" class="square">
      <div ng-style="col.style" class="circle">
        <p ng-show="DEBUG">{{col.heatIndex}}</p>
        <p ng-show="DEBUG">{{col.threshold.min}}</p>
        <p ng-show="DEBUG">{{col.threshold.av}}</p>
        <p ng-show="DEBUG">{{col.threshold.max}}</p>
        <p ng-show="DEBUG">{{col.threshold.range}}</p>
      </div>
    </div>
  </div> -->
  <div ng-show="calibrating" class="calibrating"></div>
</div>

<div ng-show="calibrating" class="message">
  Calibrating. . .
</div>