
<div class="grid-wrapper">
  <div ng-repeat="row in grid">
    <div ng-repeat="col in row" id="{{col.id}}" class="square">
      <div ng-style="col.style" class="circle">
        <p>{{col.heatIndex}}</p>
        <p>{{col.threshold.min}}</p>
        <p>{{col.threshold.av}}</p>
        <p>{{col.threshold.max}}</p>
        <p>{{col.threshold.range}}</p>
      </div>
    </div>
  </div>
  <div ng-show="calibrating" class="calibrating"></div>
  <div ng-show="calibrating" class="message">
    Calibrating. . .
  </div>
</div>

